@model UI.Models.SignUp.SignUpModel

@{
    ViewData["Title"] = "Sign up";
}

<form class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
    <input type="text" id="signUpFirstName" class="form-control" placeholder="First name" asp-for="FirstName" required autofocus>
    <input type="text" class="form-control" placeholder="Last name" asp-for="LastName" required>
    <input type="email" class="form-control" placeholder="Email address" asp-for="Email" required>
    <input type="text" class="form-control" placeholder="Login" asp-for="Login" required>
    <input type="password" id="signUpPassword" class="form-control" placeholder="Password" asp-for="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
</form>